{% extends 'base.html.twig' %}

{% block page_name %}Contact{% endblock %}

{% block main_attr %}id="contact"{% endblock %}

{% block main %}
    <section>
        <div class="content">
            <h1>Laissez-nous un message</h1>
            <p>
                Pour nous contacter, vous pouvez utiliser le formulaire
                ci-dessous{% if (addresses[0] is defined) and addresses[0].mail is not empty %}
                    ou nous envoyer un email à
                    <a href="mailto:{{ addresses[0].mail }}" class="link">{{ addresses[0].mail }}</a>
                {% endif %}. Nous vous répondrons dans les plus brefs délais.
            </p>
            {{ form_start(form) }}
                <div class='row'>
                    {{ form_row(form.name) }}
                    {{ form_row(form.mail) }}
                </div>
                {{ form_row(form.content) }}
                <button type='submit' class='btn primary'>Envoyer</button>
            {{ form_end(form) }}
            <p>
                Nous sommes à votre disposition pour répondre à vos questions et vous accompagner dans vos projets.
            </p>
        </div>
    </section>
{% endblock %}
