{% extends 'base.html.twig' %}

{% block page_name %}Accueil{% endblock %}

{% block body_attr %}id="home"{% endblock %}

{% block main %}
    <section>
        <div class="content">
            <h1>{{ app_name }}</h1>
            <p>
                Structure de conseil international qui accompagne de multiples acteurs économiques sur des sujets d’entrepreneuriat, de finance digitale, de transformation digitale et d’innovation.
            </p>
            <a href="{{ path('contact') }}" class="btn primary">Contactez-nous</a>
        </div>
    </section>
    <section>
        <div class="content">
            <h2>Aires d'interventions</h2>
            <div class="cards">
                {% for area in areas %}
                    <article class="card">
                        <i class="{{ area.faIcon }} card-icon"></i>
                        <h3 class="card-title">{{ area.name }}</h3>
                        <a href="{{ path('business_area', {slug: area.slug}) }}" class="btn primary card-link">Voir plus</a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <div class="content">
            <h2>Nos partenaires et clients</h2>
            <div class="customers">
                {% for customer in customers %}
                    <img src="{{ asset('uploads/img/' ~ customer.logo) }}" alt="{{ customer.name }}" class="customer" width="300" height="140">
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
