{% extends 'base.html.twig' %}

{% block page_name %}{{ area.name }}{% endblock %}

{% block main_attr %}id="area"{% endblock %}

{% block main %}
    <section>
        <div class='content'>
            <h1>{{ area.name }}</h1>
            <div class='content_body'>
                <p>{{ area.description | raw }}</p>
                <img src='{{ asset('uploads/img/' ~ area.image) }}' alt='{{ area.name }}' width='800' height='480'>
            </div>
        </div>
    </section>

    {% for section in area.sections %}
        <section class='area-section'>
            <hgroup style="background-image: url({{ asset('uploads/img/' ~ section.image) }})">
                <div class='content'>
                    <h2>{{ section.name }}</h2>
                    <p>{{ section.description }}</p>
                </div>
            </hgroup>
            {% for component in section.components %}
                <article class='content' data-component='{{ component }}'></article>
            {% endfor %}
        </section>
    {% endfor %}
{% endblock %}
