{% extends 'base.html.twig' %}

{% block page_name %}{{ area.name }}{% endblock %}

{% block main_attr %}id="area"{% endblock %}

{% block main %}
    <section>
        <div class='content'>
            <h1>{{ area.name }}</h1>
            <div class='content_body'>
                <div class='content_text'>
                    {% apply markdown_to_html %}
                        {{ area.description | raw }}
                    {% endapply %}
                </div>
                <img src='{{ asset('uploads/img/' ~ area.image) }}' alt='{{ area.name }}' width='800' height='480'>
            </div>
        </div>
    </section>

    {% for section in area.sections %}
        <section class='area-section' id={{ 'section_' ~ loop.index }}>
            <hgroup style="background-image: url({{ asset('uploads/img/' ~ section.image) }})">
                <div class='content'>
                    <h2>{{ section.name }}</h2>
                    <p>{{ section.description }}</p>
                </div>
            </hgroup>
            <article class='content' data-component='{{ section.component }}'></article>
        </section>
    {% endfor %}

    <nav class='pagination'>
        {% for a in areas %}
            {% if a.id == area.id %}
                {% if loop.index0 - 1 >= 0 %}
                    <a href='{{ path('business_area', { 'slug': areas[loop.index0 - 1].slug }) }}'
                       class='btn secondary prev'>
                        ← {{ areas[loop.index0 - 1].name }}
                    </a>
                {% endif %}
                {% if loop.index0 + 1 < areas|length %}
                    <a href='{{ path('business_area', { 'slug': areas[loop.index0 + 1].slug }) }}'
                       class='btn secondary next'>
                        {{ areas[loop.index0 + 1].name }} →
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </nav>
{% endblock %}
