<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" type="image/png" href="{{ asset('assets/img/logo-min.svg') }}">
        <title>{% block title %}{{ app_name }} | {% block page_name %}{% endblock %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body {% block body_attr %}{% endblock %}>
        {% block body %}
            <header>
                {% block header %}
                    <a href="{{ path('home') }}"><img src="{{ asset('assets/img/logo.svg') }}" alt="Logo de {{ app_name }}" class="logo" width="232" height="32"></a>
                    <nav class="menu" data-controller="menu">
                        <a class="toggle-menu">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </a>

                        <ul>
                            <li><a href="{{ path('home') }}">Accueil</a></li>
                            <li><a href="{{ path('contact') }}">Nous contacter</a></li>
                        </ul>
                        <ul>
                            {% for area in areas %}
                                <li><a href="{{ path('business_area', {slug: area.slug}) }}">{{ area.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endblock %}
            </header>

            <main {% block main_attr %}{% endblock %}>
                {% block main %}
                {% endblock %}
            </main>

            <footer>
                <div class="grid">
                    <img src="{{ asset('assets/img/logo-min.svg') }}" alt="Logo de {{ app_name }}" class="logo" width="124" height="124">
                    {% for address in addresses %}
                        <address>
                            <h2>{{ address.country }}</h2>
                            <p>{{ address.name }}</p>
                            <p>
                                {{ address.street }},
                                <br/>{{ address.zipcode }} {{ address.city }}
                            </p>
                            {% if (address.phone is not empty) %}
                                <p>Numéro : <a href="tel:{{ address.phone }}">{{ address.phone }}</a></p>
                            {% endif %}
                            {% if (address.mail is not empty) %}
                                <p>E-mail : <a href="mailto:{{ address.mail }}">{{ address.mail }}</a></p>
                            {% endif %}
                        </address>
                    {% endfor %}
                    <nav class="social">
                        <h2>Réseaux sociaux</h2>
                        {% for social in socials %}
                            <a href="{{ social.link }}" target='_blank'><i class="fa-brands fa-{{ social.name }}"></i></a>
                        {% endfor %}
                    </nav>
                    <nav class="links">
                        <h2>Navigation</h2>
                        <ul>
                            <li><a href="{{ path('home') }}">Accueil</a></li>
                            <li><a href="{{ path('contact') }}">Nous contacter</a></li>
                        </ul>
                        <ul>
                            {% for area in areas %}
                                <li><a href="{{ path('business_area', {slug: area.slug}) }}">{{ area.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
                <p class="copyright">
                    © Copyright <strong>Fiatope Consulting</strong>. All Rights Reserved.
                </p>
            </footer>
        {% endblock %}
    </body>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
